<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="internallog.txt">

  <targets>
    <!-- database -->
    <target name="database" xsi:type="Database" keepConnection="true" useTransactions="true"
    dbProvider="System.Data.SqlClient"
    connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=demo;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
    commandText="INSERT INTO  demo.dbo.Logs(Application, Logged, Level, Message) 
                        VALUES (@Application, @Logged, @Level, @Message)">
      <!-- parameters for the command -->
      <parameter name="@Application" layout="WebApi" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
    </target>
  </targets>

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="database" />
  </rules>
</nlog>
 
